
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="~/Content/img/about1.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h1 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Giới thiệu</h1>
                </div>
                <p>PhoneWhale là một trang web uy tín và đáng tin cậy dành cho những người đam mê công nghệ và đang 
                tìm kiếm sự hoàn hảo trong thế giới điện thoại di động. Với một sự tập trung đặc biệt vào việc cung cấp 
                các sản phẩm điện thoại hàng đầu từ các thương hiệu nổi tiếng trên thị trường, PhoneWhale cam kết mang đến 
                cho bạn những trải nghiệm mua sắm trực tuyến vượt trội.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h1 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Vì sao chọn chúng tôi?</h1>
                </div>
                <p> 
                    Chúng tôi coi trọng mối quan hệ với khách hàng và cam kết mang đến dịch vụ khách hàng tốt nhất.
                    Chúng tôi xem khách hàng là ưu tiên hàng đầu và đảm bảo rằng bạn sẽ có trải nghiệm mua sắm trực 
                    tuyến thú vị và thuận lợi.
                </p>

                <p>
                    Uy tín và đáng tin cậy: Chúng tôi luôn tuân thủ các tiêu chuẩn cao nhất về chất lượng sản phẩm và dịch vụ, 
                    giúp bạn hoàn toàn yên tâm khi mua sắm trên trang web của chúng tôi.</p>
                <p>
                    Hỗ trợ toàn diện: Chúng tôi có đội ngũ tư vấn giàu kinh nghiệm và nhiệt tình, luôn lắng nghe và hiểu rõ nhu 
                    cầu của bạn.
                </p>
            </div>
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="~/Content/img/about2.jpg" alt="">
            </div>
        </div>
    </div>
</div>


<!-- Testimonial Start -->

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h1 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Liên hệ với chúng tôi</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <img class="img-fluid mx-auto mb-3" style="width:100px" src="~/Content/img/about3.jpg" alt="">
                    <h4 class="font-weight-normal mb-4">
                        Hãy liên hệ với chúng tôi ngay hôm nay để bắt đầu trải nghiệm dịch vụ khách hàng tốt nhất. Bạn
                        có thể điền vào biểu mẫu liên hệ trên trang web của chúng tôi hoặc gửi email trực tiếp
                        đến địa chỉ: info@example.com.
                        Đội ngũ tư vấn của chúng tôi sẽ nhanh chóng liên hệ và hỗ trợ bạn một cách tận tâm và
                        chuyên nghiệp.
                        Hãy đặt niềm tin vào PhoneWhale và khám phá thế giới của công nghệ thông qua những sản 
                        phẩm điện thoại hàng đầu. Chúng tôi tin rằng sự lựa chọn của bạn sẽ là một quyết định 
                        thông minh và hấp dẫn, và chúng tôi sẽ luôn sẵn sàng phục vụ bạn một cách tốt nhất !!!
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

